 /* WRITE CSS  */
 /* * { border: 1px solid orange; } */


 .app {
     margin: 0 auto;
     display: grid;
     
     border: 1px solid black;
     border-radius: 1em;
     max-width: 20em;
     max-height: 30em;
 }

 .app h1 {
     text-align: center;
     text-decoration: none;
     box-decoration-break: unset;
 }

 .app input {
     display: block;
     width: 80%;
     height: 2em;
     border-radius: 5px;
     padding: 0 1em 0 1em;
     font-size: 1em;
     max-width: 20em;
     margin: 0 auto;
 }

 .app textarea {
     display: block;
     margin: 1em auto;
     padding: 0 1em 0 1em;
     width: 80%;
     height: 2em;
     border-radius: 5px;
     font-size: em;
     max-width: 20em;

 }
 
 .app button {
    height: 2em;
    width: 6em;
    justify-self: center;
    align-self: center;
    display: block;
    margin: 0 auto;
 }

 input, textarea:focus {
     outline: none;
     border: none;
 }

